/* Styling for Body */
body {
  background: whitesmoke;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Styling for Texts */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

/* Styling for Padding */
.p-2, .pt-2, .py-2 {
  padding-top: 2rem;
}
.p-2, .pb-2, .py-2 {
  padding-bottom: 2rem;
}
.p-2, .pl-2, .px-2 {
  padding-left: 2rem;
}
.p-2, .pr-2, .px-2 {
  padding-right: 2rem;
}
.p-1, .px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.p-1, .pt-1, .py-1{
  padding-top: 1rem;
}
.p-1, .pb-1, .py-1{
  padding-bottom: 1rem;
}

/* Styling for Margin */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.m-2, .mt-2, .my-2 {
  margin-top: 2rem;
}
.m-2, .mb-2, .my-2 {
  margin-bottom: 2rem;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.m-1, .mt-1, .my-1 {
  margin-top: 1rem;
}
.m-1, .mb-1, .my-1 {
  margin-bottom: 1rem;
}
.mt-05, .my-05 {
  margin-top: 0.5rem;
}
.mb-05, .my-05 {
  margin-bottom: 0.5rem;
}
.mt-0, .my-0 {
  margin-top: 0;
}
.mb-0, .my-0 {
  margin-bottom: 0;
}
.m-0 {
  margin: 0;
}
.mr-0 {
  margin-right: 0;
}

/* Styling for color */
.white {
  color: white;
}
.red {
  color: red;
}
.blue {
  color: #4a08ef;
}
.green {
  color: green;
}
.yellow {
  color: #ffc107;
}
.not-allowed {
  color: grey;
  cursor: not-allowed !important;
}

/* Styling for Width */
.w-100, .w-90, .w-60, .w-30, .w-40 {
  position: relative;
}
.w-100 {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;
}
.w-20 {
  width: 20%;
}
.w-10 {
  width: 10%;
}

/* Styling for Nav-bar*/
.main-header {
  position: relative;
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.main-header, .user-header {
  height: 90px;
}
.main-header > #list, .user-header > #list {
  width: auto;
  float: right;
}
.main-header > #list > ul > li, .user-header > #list > ul > li {
  display: inline-table;
  padding: 0 0.5rem;
}
.main-header > #list > ul > li:not(:last-child) > a, .user-header > #list > ul > li:not(:last-child) > a, #greetings {
  height: 90px;
  line-height: 90px;
}
.main-header > #list > ul > li:not(:last-child) > a:hover, .side-bar > #list > ul > li > a:hover {
  background-color: whitesmoke;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
#list > ul > li > a.active {
  background-color: #4a08ef;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.purple-btn:hover, #list > ul > li > a.active {
  background-color: #4a08ef !important;
  color: #ffc107;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

/* Styling for logo */
.logo {
  width: 125px;
}

/* Styling for burger */
#menu {
  display: none;
  margin: 2rem;
  float: right;
  cursor: pointer;
}
#menu > .bar1, #menu > .bar2, #menu > .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
#menu.active > .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
#menu.active > .bar2 {
  opacity: 0;
}
#menu.active > .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Styling for Display Flex */
.d-flex, #confirm-order.active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.space-start {
  justify-content: flex-start;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}
.vertical-bottom {
  align-self: flex-end;
}

/* Styling for Home Page */
#banner {
  background: url(../images/courier-dark-bg.jpg) no-repeat center;
  background-size: cover;
  margin: 0;
  height: 600px;
}
.intro {
  position: relative;
  top: 175px;
}
#login-banner {
  position: relative;

}

/* Styling for Login Form */
.login-box {
  position: relative;
  background: white;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 50px;
}
.tab-group li {
  width: 50%;
  float: left;
  text-align: center;
}
.tab-group li a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #666666;
  text-decoration: none; 
} 
.tab-group li:first-child a {
  border-top-left-radius: 1rem;
}
.tab-group li:last-child a {
  border-top-right-radius: 1rem;
}
.tab-group li a.active {
  background:white;
  color: #4a08ef;
}
.help-text {
  color: #666666;
  font-size: 0.875rem;
  text-decoration: none;
  margin: 0.5rem 0;
}
.help-text:hover, .help-text.focus {
  color: #4a08ef;
}

/* Styling for Form elements */
.login-box > form {
  display: none;
  width: 320px;
  margin-top: 1rem;
}
.login-box > form.active, #dashboard-tab.active, #send-tab.active, #view-all-tab.active, #view-pending-tab.active,
 #view-delivered-tab.active, #profile-tab.active, #profile-view.active, #profile-form.active, #list.active, #create-order-form.active, #sign-error.active, #send-error.active, #confirm-success.active, #confirm-error.active, #view-all-error.active, #view-all-success.active, #view-pending-error.active, #view-pending-success.active,  #view-delivered-error.active, #view-delivered-success.active, #profile-error.active, #profile-success.active, #modal.active {
  display: block;
}
.box > form, .parcel-box, #profile-view {
  width: 90%;
}
label, .label {
  font-size: 0.875rem;
  color: grey;
}
.input-icon, input:not([type="checkbox"]){
  position: relative;
}
input:not([type="checkbox"]), .input {
  min-height: 1.75rem;
  line-height: 1.75rem;
}
input:not([type="checkbox"]){
  font-size: 1rem;
  width: -webkit-fill-available;
  border-bottom-color: rgb(238, 238, 238);
  border-radius: 0;
  border-width: 0 0 2px 0;
}
.input-icon input {
  padding-left: 1.75rem;
}
.input-icon .fa-eye, .input-icon .fa-eye-slash {
  cursor: pointer;
}
.input-icon i {
  position: absolute;
  top: 2.5rem;
  left: 0.25rem;
  color: #d2d8d8;
}
input:not([type="checkbox"]):focus {
  outline: none;
  border-width: 0 0 2px 0;
  border-color: blue;
}
.parcel-info input[type="text"] {
  line-height: 1;
  min-height: 1rem;
  max-width: 250px;
} 
#profile-view > div > div, #profile-form > div > div {
  padding: 1rem 0;
}

/* Styling for Button */
button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
  border: none;
}
.purple-btn, .grey-btn {
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.purple-btn, .parcel-info > div > button:hover, .login-box > form > div > button:hover, #profile-tab button:hover, .box button:hover {
  background-color: #4a08ef;
  color: white;
}
.plus-btn {
  background-color: white;
  font-weight: 600;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.grey-btn, .parcel-info > div > button, .login-box > form > div > button, #profile-tab button, .box button {
  background-color: #d2d8d8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
.parcel-info > div > button, #profile-tab button, .box button {
  padding: 0.5rem 0.5rem;
}
.parcel-info > div > button, .login-box > form > div > button, #profile-tab button, .box button {
  color: #4a08ef;
}
.view-parcel-info.active, .edit-parcel-info.active {
  transform: rotate(180deg);
}
button:disabled {
  background-color: #d2d8d8 !important;
  color: grey !important;
  cursor: not-allowed;
}

/* Styling for User or Admin Page */
.side-bar {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 17.5%;
  height: 100%;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
#list {
  position: relative;
}
#list > ul {
  list-style: none;
  padding: 0;
}
#list > ul > li > a {
  padding: 0.75rem;
  border-radius: 0.5rem;
  text-decoration: none;
}
.side-bar > #list > ul > li > a {
  height: 50px;
  line-height: 50px;
}
.main-content {
  position: relative;
  top: 0;
  left: 17.5%;
  width: 82.5%;
  margin-top: 3rem;
}
.box {
  background: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  box-shadow:0 2px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
#dashboard-tab, #send-tab, #view-all-tab, #view-pending-tab, #view-delivered-tab, #profile-tab, .parcel-info, #profile-view, #profile-form, #create-order-form, #sign-error, #send-error, #confirm-order, #confirm-success, #confirm-error, #view-all-error, #view-all-success, #view-pending-error, #view-pending-success, #view-delivered-error, #view-delivered-success, #profile-error, #profile-success {
  display: none;
}
.status-report {
  font-size: 0.875rem;
}
.parcel-box > .icon > a  {
  cursor: pointer;
}
#greetings {
  position: relative;
  color: #4a08ef;
  top: 1rem;
  left: 20%;
  line-height: 0;
  font-size: 1.5rem;
}
#greetings img {
  height: 60px;
  margin-right: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
}

/* Styling for Dashboard */
.dashboard-box {
  background: linear-gradient(125deg, rgba(74,8,239,1) 0%, rgba(255,193,7,0.75) 100%);
  width: 35%;
  height: 200px;
  border-radius: 1rem;
  box-shadow:0 2px 8px 0px rgba(0, 0, 0, 0.25);
}
.dashboard-box > div {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 3rem;
}
.dashboard-box > p {
  font-size: 1.25rem;
  padding: 0 0.5rem;
}

/* Styling for Alerts */
.alert-success, .alert-error {
  position: relative;
  width: 70%;
  padding: .25rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}
.alert-success { 
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* Styling for Google Maps */
#map {
  height: 100%;
  border-radius: 1rem 0 0 1rem;
}

/* Styling for Modal */
#modal {
  display: none; 
  position: fixed;
  z-index: 100;
  padding-top: 250px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal-content {
  margin: auto;
  padding: 20px;
  width: 40%;
}
#modal-close {
  background-color: white;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -0.75rem;
  right: -0.75rem;
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 50%;
}
#modal-close:hover, #modal-close:focus {
  text-decoration: none;
  cursor: pointer;
}

/* Styling for Footer */
footer {
  background-color: #696767;
  box-shadow:0 2px 8px 0px rgba(0, 0, 0, 0.25);
  line-height: 1.25;
  color: white;
}
footer > .w-60 {
  font-size: 0.75rem;
  border-top: 2px solid white
}

/* Styling for Tablet and Mobile devices */
@media screen and (max-width: 1024px) {
  /* Styling for Side-bar on mobile */
  .side-bar, .main-header {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    flex: unset;
  }
  .main-header {
    padding: 0;
  }
  .main-header > #list > ul > li:not(:last-child) > a, .main-header > #list > ul > li:last-child > a {
    height: 50px;
    line-height: 50px;
  }
  .main-header > #list {
    padding: 0 0.5rem 1rem 0.5rem;
  }
  .main-header > a > .logo {
    padding: 1rem;
  }
  #list {
    display: none;
  }
  .main-header > #list {
    float: none;
  }
  #menu, .user-header > #list {
    display: block;
  }
  .main-header > #list > ul > li{
    display: list-item;
  }
  #list > ul > li {
    padding: 0;
  }
  .logo {
    width: 100px;
  }
  .main-content {
    left: 0;
    width: 100%;
  }
  .px-2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #greetings {
    left: 2rem;
    font-size: 1.25rem;
  }
  #banner > .intro > h1 {
    font-size: 1.5rem;
    padding: 1rem;
  }
}

/* Styling for Mobile devices */
@media screen and (max-width: 650px) {
  /* Styling for width sizes on mobile */
  .w-90, .w-60, .w-50, .w-40, .w-30, .w-20, .w-10  {
    width: 100%;
  }
  .w-20, .w-30, .w-40 {
    margin-top: 0.5rem
  }
  .login-box, .login-box > form, .alert-success, .alert-error {
    width: 90%;
  }
  #profile-view > div > div, #profile-form > div > div {
    padding: 0.5rem 0;
  }
  .modal-content {
    width: 80%;
  }
  #greetings {
    display: block;
    left: 0;
    text-align: center;
  }
  .user-header > #list {
    display: block;
    width: 100%;
    text-align: center;
  }

  /* Styling for Dashboard */
  .dashboard-box {
    width: 40%;
    height: 175px;
  }
  .dashboard-box > div {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
  }
  .dashboard-box > p {
    font-size: 1rem;
  }

  /* Stylign for Map */
  #map {
    height: 300px;
    border-radius: 1rem 1rem 0 0;
  }
}